<!-- este componente lo puedo usar en otros componentes, para esto primero debo modularizarlo para que este disponible -->
<h2>mi nombre es: {{ nombre }}</h2>

<!-- luego de interpolar ya se puede acceder a los atributos del objeto creado en la clase -->
<h2>mi nombre es: {{ persona.nombre }}</h2>
<h2>mi edad es: {{ persona.edad }}</h2>
<br><hr><br>

<!-- event binding: si bien se puede definir la logica de un metodo asociada a un evento directamente en la plantilla, esta no es
una buena practica, primero porque tiene limitaciones de sintaxis y tambien porque ensucia el codigo. Lo mejor es definir el metodo
dentro el componente y llamarlo en la plantilla -->
<button (click)="decrementar()">
<!-- <button (click)="numero = numero - 1"> -->
-
</button>
<span>
    {{numero}}
</span>
<button (click)="incrementar()">
<!-- <button (click)="numero = numero + 1"> -->
+
</button>



